<h1>Список жанров</h1>
<button [routerLink]="['/genres/new']">Добавить жанр</button>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let genre of genres">
    <td>{{ genre.id }}</td>
    <td>{{ genre.name }}</td>
    <td>
      <button [routerLink]="['/genres', genre.id, 'edit']">Редактировать</button>
      <button (click)="deleteGenre(genre.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
<a routerLink="/">Назад к списку таблиц</a>
