<h1>Список ролей</h1>
<button [routerLink]="['/roles/new']">Добавить роль</button>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название роли</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let role of roles">
    <td>{{ role.id }}</td>
    <td>{{ role.roleName }}</td>
    <td>
      <button [routerLink]="['/roles', role.id, 'edit']">Редактировать</button>
      <button (click)="deleteRole(role.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
<a routerLink="/">Назад к списку таблиц</a>
