<div class="container">
  <form (ngSubmit)="saveUser()">
    <h1>{{ user.id ? 'Редактировать пользователя' : 'Добавить пользователя' }}</h1>

    <div>
      <label>Логин:</label>
      <input [(ngModel)]="user.username" name="username" required>
    </div>

    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="user.email" name="email">
    </div>

    <div *ngIf="!user.id">
      <label>Пароль:</label>
      <input type="password" [(ngModel)]="user.passwordHash" name="password" required>
    </div>

    <div>
      <label>Роль:</label>
      <select [(ngModel)]="user.roleId" name="roleId" required>
        <option *ngFor="let role of roles" [value]="role.id">{{ role.roleName }}</option>
      </select>
    </div>

    <button type="submit">Сохранить</button>
    <a [routerLink]="['/users']">Назад к списку пользователей</a>
  </form>
</div>
