<h1>Список книг</h1>
<button [routerLink]="['/books/new']">Добавить книгу</button>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>ISBN</th>
    <th>Год издания</th>
    <th>Доступно копий</th>
    <th>Жанр</th>
    <th>Авторы</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.isbn }}</td>
    <td>{{ book.publishYear }}</td>
    <td>{{ book.copiesAvailable }}</td>
    <td>{{ book.genre?.name || '-' }}</td>
    <td>
        <span *ngFor="let author of book.authors; let last = last">
          {{ author.name }}<span *ngIf="!last">, </span>
        </span>
    </td>
    <td>
      <button [routerLink]="['/books', book.id, 'edit']">Редактировать</button>
      <button (click)="deleteBook(book.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
<a routerLink="/">Назад к списку таблиц</a>
